.caixa{
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

button{
    margin: 5px;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

.o-header {
grid-area: header;
}

.o-main {
grid-area: main;
display: flex;
flex-direction: column;
}

.o-footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
size: 2px !important;

grid-area: footer;
background-color: black;
color: white;
}

.caixa{
    max-width: 600px;
    padding: 10px;
}

.caixao{
    margin: 20px 0px 20px;
}