.caixa{
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.tabelamae {
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: centralizar horizontalmente também */
    margin-bottom: 20px;
    padding: 1px;
  }

  .red-border {
    border: 1px solid red;
  }
  .green-border {
    border: 1px solid green;
  }
  .red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }

table {
    width: 50vw;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(0, 0, 0);
  }

thead {
    background-color: rgb(255, 0, 0);
    color: white;
}

table,thead, th, td, tr {
    border: 2px solid;
  }


.caixarh{
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}


.agendamentobox2{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.agendamentos{
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center; /* Opcional: centralizar horizontalmente também */
}

iframe{
    height: 500px;
    width: 730px;
    text-align: center;
    align-items: center;
  }
  
.multabox{
    padding: 10px;
    background-color: rgba(26, 212, 26, 0.692);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
    

}

.curriculobox{
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.692);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
    

}

.atualizacaobox{
    padding: 10px;
    background-color: rgba(26, 212, 26, 0.692);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}



.atualizacao{
    text-align: left;
    max-width: 80%;
}

li{
    font-size: small;
}

.entrada{
    width: 90%;
    text-align: center;
    margin: 5px;
}

.rhbtn{
    width: 40vw;
    font-size: 22px;
    padding: 3px;
}
.voltarbtn{
  border: 2px;
  border-color: black;
  border-style: solid;
  
}

button{
    margin: 5px;
}

.btn2{
    background-color: rgb(226, 43, 226);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header{
    padding: 4px;
    margin: 1px 1px 1px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
  }

  .stnd{
    height: 30px;
    margin-top: 5px;
    }

.rhbox{
    display: none;

}

.outrosbox{
    display: block;

}

.o-header {
grid-area: header;
}

.o-main {
grid-area: main;
display: flex;
flex-direction: column;
margin-bottom: 20px;
text-align: center;
justify-content: center;
}

.o-footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
font-size: 10px;
padding: 5px;
grid-area: footer;
background-color: black;
color: white;
}

.caixa{
    max-width: 600px;
    padding: 10px;
}

.caixao{
    margin: 20px 0px 20px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px !important;
    align-items: center;
}

.grupo{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
    min-width: 350px;
    margin: 5px 0px 5px;
    border: solid 2px black;
    padding: 5px;
    border-radius: 10px;
}

.comprovantebox{
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.692);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    body {

    }    
    .comprovantebox{
        padding: 10px;
        background-color: rgba(204, 228, 240, 0.692);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        max-width: 600px;
        justify-content: space-evenly;
        align-items: center;
    }

    .agendamentobox2{
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        max-width: 600px;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
    }
    
    .agendamentos{
        width: 100vw;
        text-align: center;
        align-items: center;
    }
    
    iframe{
        height: 500px;
        width: 670px;
        text-align: center;
        align-items: center;
      }

    .entrada{
        width: 90%;
        text-align: center;
        margin: 5px;
    }
    
    button{
        margin: 5px;
    }
    
    .caixa{
        max-width: 600px;
        padding: 10px;
    }
    
    .caixao{
        margin: 20px 0px 20px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        max-width: 600px !important;
        align-items: center;
    }
    
    .grupo{
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 600px;
        min-width: 350px;
        margin: 5px 0px 5px;
        border: solid 2px black;
        padding: 5px;
        border-radius: 10px;
        font-size: x-large;
    }
    input{
        width: 100vw !important;
    }
    table,thead, th, td, tr {
        font-size: x-small;
      }
      
  .red-border {
    border: 1px solid red;
  }
  .green-border {
    border: 1px solid green;
  }
  .red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }

    
  }

  .titulored{
    color: red;

  }

  table{

  }